<a href="https://colab.research.google.com/github/srushtinalawade-gif/Study-of-Lists-in-Python/blob/main/Practical2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# To study list in Python and various operations on it
## Name- Srushti Nalawade
## PRN- 25070123157
## Branch- ENTC A1

In [ ]:
## Python Lists

languagelist = ["C", "C++", "Python"]
print(languagelist)

['C', 'C++', 'Python']

In [ ]:
## Allows Duplicate

languagelist = ["C", "C++", "Pyhton", "C", "Python"]
print(languagelist)

['C', 'C++', 'Pyhton', 'C', 'Python']

In [ ]:
## List length

languagelist = ["C", "C++", "Python", "R"]
print(len(languagelist))

4

In [ ]:
## A list with strings, integers and boolean values:
Testlist = ["Endsem", 9, "GPA", False, "Or", (3+2j)]
Testlist

['Endsem', 9, 'GPA', False, 'Or', (3+2j)]

In [ ]:
# Access items

retrieveitem = ["File1", "File2", "File3"]
print(retrieveitem[0])

File1

In [ ]:
# Reverse Indexing

retrieveitem = ["File1", "File2", "File3", "File4", "File5"]
print(retrieveitem[-3:-1])

['File3', 'File4']

In [ ]:
# Slicing

shortlist = ["File1", "File2", "File3", "File4", "File5", "File6"]
print(shortlist[3:5])

['File4', 'File5']

In [ ]:
altlist = ["File1", "File2", "File3", "File4", "File5", "File6"]
print(altlist[:2])

['File1', 'File2']

In [ ]:
Transverselist = ["File1", "File2", "File3", "File4", "File5", "File6"]
print(negativealtlist[:10])

['File1', 'File2', 'File3', 'File4', 'File5', 'File6', 'file7']

In [ ]:
## Replace item

replacelist = ["AI", "Google", "Book"]
replacelist[0] = "Human"
print(replacelist)

['Human', 'Google', 'Book']

In [ ]:
# Append Items
addlist = ["1", "2", "3"]
addlist.append("4")
print(addlist)

['Happy', 'New', 'Year', '!']

In [ ]:
# Insert Items

newlist = ["1", "3", "4"]
newlist.insert(1,"2")
print(newlist)

['1', '2', '3', '4']

In [ ]:
# extend list

corelist= ["EDA", "DCLD", "PES", "AMT"]
electivelist = ["CT","TPCS", "IKS" ]
corelist.extend(electivelist)
print(corelist)

['EDA', 'DCLD', 'PES', 'AMT', 'CT', 'TPCS', 'IKS']

In [ ]:
# Searching items

x = [1,2,3,4]
1 in x

True

In [ ]:
# Repetition
Rlist = ["1","2","3"]*3
print(Rlist)

['1', '2', '3', '1', '2', '3', '1', '2', '3']

In [ ]:
# Problem 1
marks = [66,78,67,89,93]
print(max(marks))
print(min(marks))
print(sum(marks))
print(len(marks))
marks.sort()
print(marks)

93
66
393
5
[66, 67, 78, 89, 93]

In [ ]:
''' Problem 2
Grocery Shopping list
A user maintains a grocery list for monthly shopping.
Tasks:
-Create a grocery list
-Add new items to the list
-Remove purchased items
-Display the final shopping list'''

grocerylist = ["Eggs", "Candy", "Bread", "Cheese", "Strawberry", "Milk"]
newlist = ["Ice Cream", "Olive Oil"]
grocerylist.extend(newlist)
grocerylist.remove("Eggs")
print(grocerylist)

['Candy', 'Bread', 'Cheese', 'Strawberry', 'Milk', 'Ice Cream', 'Olive Oil']

In [ ]:
'''Problem 3
A Person stores phone contact in a list
Create list of contacts
Add a new contact
Delete existing contact
Display contacts alphabetically'''

contacts = ["Asmi", "Mano", "Arshiya", "Pushkar"]
newcontacts = ["Anvi", "Neil", "Prisha"]
contacts.extend(newcontacts)
contacts.remove("Neil")
contacts.sort()
contacts

['Anvi', 'Arshiya', 'Asmi', 'Mano', 'Prisha', 'Pushkar']

In [7]:
'''Problem 4
Temperature Analysis:
Daily Temperature readings of a city are stored in a list for 10 days.
Tasks-
-Display temperatures of first and last 5 days
-Find highest and lowest temperatures
-Calculate average temperature'''

weatherreport = [25,24,19,27,18,20,23,30,26,29]
print("First 5 days report:",weatherreport[:6])
print("Last 5 days:",weatherreport[:-5])
print("Highest Temperature:",max(weatherreport))
print("Lowest Temperature:",min(weatherreport))
print("Average Temperature",sum(weatherreport)/len(weatherreport))

First 5 days report: [25, 24, 19, 27, 18, 20]
Last 5 days: [25, 24, 19, 27, 18]
Highest Temperature: 30
Lowest Temperature: 18
Average Temperature 24.1

In [2]:
# List Slicing
list1=[10,20,30,40,50,60]
print(list1[1:3])
print(list1[1:3:1])
print(list1[2:5:2])
print(list1[1:4:2])

[20, 30]
[20, 30]
[30, 50]
[20, 40]

In [4]:
'''Problem 5
Daily Expense Tracker
Tasks:
-Store daily expenses
-Display total and average expenses
-Identify highest spending day'''

dailyspend=[100,40,78,90,26]
print("Total Expenses-",sum(dailyspend))
print("Highest Spending Day-",max(dailyspend))
print("Lowest Spending Day-",min(dailyspend))
print("Average Expenses-",sum(dailyspend)/len(dailyspend))

Total Expenses- 334
Highest Spending Day- 100
Lowest Spending Day- 26
Average Expenses- 66.8